{% extends 'layouts/default.html.jinja2' %}

{% block content_header %}
    {% set page_heading = 'Dashboard' %}
    {% include 'partials/page_heading.html.jinja2' %}
{% endblock %}

{% block content_main %}
    <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        {% for ctrl in update.keys() %}
            <div data-control="{{ ctrl }}">
                <div class="uk-card uk-card-small uk-card-default">
                    <div class="uk-card-header">
                        <h2 class="uk-card-title uk-margin-remove-bottom">{{ ctrl }}</h2>

                        {# TODO: just hard coded example #}
                        {% for prop in update[ctrl].keys() %}
                            {% set value = update[ctrl][prop] %}
                            {% if ctrl in ['Wasser', 'Heiz1.IN.1', 'Heiz1.IN.2'] and prop == 'Temperature [°C]' %}
                                {% if value > 25.2 %}
                                    <div id="badge_{{ ctrl|lower }}" class="uk-card-badge uk-label uk-label-danger">HIGH TEMP</div>
                                {% elif value > 24.6 %}
                                    <div id="badge_{{ ctrl|lower }}" class="uk-card-badge uk-label uk-label-warning">HIGH TEMP</div>
                                {% elif value < 24.1 %}
                                    <div id="badge_{{ ctrl|lower }}" class="uk-card-badge uk-label uk-label-warning">LOW TEMP</div>
                                {% elif value < 23.8 %}
                                    <div id="badge_{{ ctrl|lower }}" class="uk-card-badge uk-label uk-label-danger">LOW TEMP</div>
                                {% else %}
                                    <div id="badge_{{ ctrl|lower }}" class="uk-card-badge uk-label uk-label-success">OK</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="uk-card-body">
                        {% for prop in update[ctrl].keys() %}
                            <div class="uk-grid-collapse" uk-grid>
                                <div class="uk-width-1-3">
                                 {{ prop }}:
                                </div>
                                <div class="uk-width-expand"
                                     id="{{ "sse_" ~ ctrl|lower ~ "-" ~ prop|lower }}"
                                >
                                  {{ update[ctrl][prop] }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="uk-padding-small uk-margin-top uk-background-secondary uk-light">
        <div>
            {{ now }}
        </div>
    </div>
{% endblock %}

{% block footer_script %}
    {{ super() }}
    {% include "sse_event_inc.html" %}

    <script>
    if (999 === 111) {
        if (!!window.EventSource) {
            const source = new EventSource(document.URL);
            source.onmessage = function (e) {
                // console.debug(e.data);
                const data = JSON.parse(e.data);
                for (const [ctrl, value] of Object.entries(data)) {
                    // console.log('ctrl:', ctrl);
                    // console.log('value:', value);
                    let elm = document.querySelector('div[data-control="' + ctrl + '"]');
                    if (elm instanceof HTMLElement) {
                        // console.log('elm:', elm);
                        let targetElm = elm.querySelector('div.uk-card');
                        if (targetElm instanceof HTMLElement) {
                            // append content
                            targetElm.innerHTML += '<div style="border:solid 1px blue;"> INHALT ergänzt per JS SSE event message listener, value: ' + JSON.stringify(value) + '</div>'
                            // OR replace content
                            // targetElm.innerHTML = '<div style="border:solid 1px blue;"> INHALT ersetz per JS SSE event message listener, value: ' + JSON.stringify(value) + '</div>'
                        }
                    }
                }
            }
        }
    }
    </script>

{% endblock %}