<!doctype html>
{% extends 'layouts/default.html.jinja2' %}

{% block content_header %}
    {% set page_heading = 'Dashboard' %}
    {% include 'partials/page_heading.html.jinja2' %}
{% endblock %}

{% block html_head_script %}
    {{ super() }}
{% endblock %}

{% block content_main %}
    <div id="vm">
        <!-- this is filled with Vue content using below teplate -->
    </div>

    <template id="vueHome">
        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
            {% for node in update %}
                <component is='BusNode' id='{{ node.id }}' ref='{{ node.id }}'></component><br/>
            {% endfor %}
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='v-comps.js') }}"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>

    <div class="uk-padding-small uk-margin-top uk-background-secondary uk-light">
        <div>
            {{ now }}
        </div>
    </div>

{% endblock %}

{% block footer_script %}
    {{ super() }}
    {# static/home.js has it's own:  % include "sse_event_inc.html" % #}
{% endblock %}
