{# <!-- this is a include file for routes with sse updates --> #}

{#
<!-- Target pages must contain elments with ID 'sse_'+key.toLowerCase()
     These elements will be updated if the values dict sent
     with the event contains an entry with this key.
     -->
#}
<script>
if (!!window.EventSource) {
  const source = new EventSource(document.URL);
  source.onmessage = function(e) {
    console.debug(e.data);
    const obj = JSON.parse(e.data);
    for (let g in obj) {
      for (let k in obj[g]) {
        el = document.getElementById("sse_" + g.toLowerCase() + "-" + k.toLowerCase());
        if (el !== null) { el.textContent = obj[g][k]; }
      }
    }
  }
}
</script>
