<!doctype html>
{% if page_heading %}
    {% block page_heading %}
    <div class="uk-width-expand@m">
        <h1 class="uk-heading-large uk-heading-bullet">
            {{ page_heading }}
            {% if page_modal_config %}
                <div class="uk-align-right">
                    <a href="{{ page_modal_config }}" uk-icon="icon: grid" uk-toggle></a>
                </div>
            {% endif %}
        </h1>
    </div>
    {% endblock %}
{% endif %}
