<!DOCTYPE html>
<html lang="en">
<head>
    <title>aquaPI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="about">
{% include "menu_inc.html" %}

<div class="main">
    <h1>About</h1>

    v0.0.0.0.1 - read: mostly not working yet!<br><br>

    Someday this page will sow system state.<br>
    ... and a link to REST API documentation.
</div>

</body>
</html>
