<!DOCTYPE html>
<html lang="en">
<head>
    <title>aquaPI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="config">
{% include "menu_inc.html" %}

<div class="main">
    <h1>Configuration</h1>

    <p>Große Baustelle!<br><br>

    Will be a page with tabs for different aspects of configuration.<br>
    Should be protected by authentication.
</div>

</body>
</html>
