{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
<body id="settings">

{% include "sse_event_inc.html" %}

<div class="main">
{% for g in update.keys() %}
    <h3>{{g}}</h3>
    <div class="pure-g">
{%     for k in update[g].keys() %}
        <div class="pure-u-1-3">{{k}}:</div>
        <div class="pure-u-2-3">{{update[g][k]}}</div>
{%     endfor %}
        <p>
    </div>
{% endfor %}
</div>

</body>
{% endblock %}
