{% extends 'layouts/default.html.jinja2' %}

{% block content_header %}
    {% set page_heading = 'Settings' %}
    {% include 'partials/page_heading.html.jinja2' %}

    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p class="uk-text-small">
            <strong>TODO</strong>
            <ul>
                <li>Handle accordion on page reload (url hash and/or class 'uk-open')</li>
                <li>form submit event listener, ajax post (fetch ...), error / success message (UIkit Notification)</li>
                <li>dynamic form generation on base of JSON(?)</li>
                <li>form content (settings of controls) depends on selected node input / output type (maybe use vue for easier handling)</li>
                <li>styling</li>
            </ul>
        </p>
    </div>

{% endblock %}

{% block content_main %}
    <ul uk-accordion="collapsible: true; multiple: false" class="uk-list uk-list-divider">
        {% for ctrl in update.keys() %}
            {% set ctrlId = ctrl | lower %}
            <li id="{{ ctrlId }}">
                <a class="uk-accordion-title" href="#{{ ctrlId }}">
                    <span class="uk-h3">{{ ctrl }}</span>
                </a>
                <div class="uk-accordion-content">
                    <form action="/settings" method="post" class="uk-form-horizontal">
                        {% for setting in bus.get_node(ctrl).get_settings().items() %}
                            <div class="uk-margin-small">
                                <label class="uk-form-label" for="{{ setting[0] }}">{{ setting[0] }}:</label>
                                <div class="uk-form-controls">
                                    <input type="text" id="{{ setting[0] }}" name="{{ setting[0] }}" value="{{ setting[1] }}" class="uk-input">
                                </div>
                            </div>
                        {% endfor %}

                        {% for input in bus.get_node(ctrl).get_inputs() %}
                            <div class="uk-margin-small">
                                <label class="uk-form-label" for="{{ input }}">Input:</label>
                                <div class="uk-form-controls">
                                    <select id="{{ input }}" name="{{ input }}" value="{{ input }}" class="uk-select">
                                        <optgroup label="Sensors">
                                            {% for in_node in bus.get_input_node_names() %}
                                                <option {{ "selected" if in_node==input else "" }}>{{ in_node }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Auxiliary">
                                            {% for in_node in bus.get_aux_node_names() %}
                                                <option {{ "selected" if in_node==input else "" }}>{{ in_node }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label class="uk-form-label"></label>
                                <div class="uk-form-controls">
                                    {% for in_set in bus.get_node(input).get_settings().items() %}
                                        <div class="uk-margin-small">
                                            <label class="uk-form-label" for="{{ in_set[0] }}">{{ in_set[0] }}:</label>
                                            <div class="uk-form-controls">
                                                <input type="text" id="{{ in_set[0] }}" name="{{ in_set[0] }}" value="{{ in_set[1] }}" class="uk-input">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        {% for output in bus.get_node(ctrl).get_outputs() %}
                            <div class="uk-margin-small">
                                <label class="uk-form-label" for="{{ output }}">Output:</label>
                                <div class="uk-form-controls">
                                    <select id="{{ output }}" name="{{ output }}" class="uk-select">
                                        <optgroup label="Devices">
                                            {% for out_node in bus.get_output_node_names() %}
                                                <option {{ "selected" if out_node==output else "" }}>{{ out_node }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Auxiliary">
                                            {% for out_node in bus.get_aux_node_names() %}
                                                <option {{ "selected" if out_node==output else "" }}>{{ out_node }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label class="uk-form-label"></label>
                                <div class="uk-form-controls">
                                    {% for out_set in bus.get_node(output).get_settings().items() %}
                                        <div class="uk-margin-small">
                                            <label class="uk-form-label" for="{{ out_set[0] }}">{{ out_set[0] }}:</label>
                                            <div class="uk-form-controls">
                                                <input type="text" id="{{ out_set[0] }}" name="{{ out_set[0] }}" value="{{ out_set[1] }}" class="uk-input">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="uk-flex uk-flex-right">
                            <button type="reset" class="uk-button uk-margin-small-left">Reset</button>
                            <button type="submit" class="uk-button uk-button-primary uk-margin-small-left">Accept</button>
                        </div>
                    </form>

                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer_script %}
    {{ super() }}
{#    {% include "sse_event_inc.html" %}#}
{% endblock %}
